{% extends "base.html" %}
{% block title %}인터파크 베스트셀러{% endblock %}
{% block subtitle %}인터파크 베스트셀러{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>순위</th>
            <th>표지</th>
            <th>제목</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
        </tr>
{% endblock %}
{% block additional_body %}
    {% for book in book_list %}
    <tr>
        <td style="text-align: center;">{{book.순위}}</td>
        <td style="text-align: center;"><img src="{{book.src}}" height="40"></td>
        <td><a href="{{book.href}}" target="_blank">{{book.제목}}</a></td>
        <td style="text-align: center;">{{book.저자}}</td>
        <td style="text-align: center;">{{book.출판사}}</td>
        <td style="text-align: right;">{{book.가격}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}